/* Custom CSS */

/* Fonts */

@import url("https://fonts.googleapis.com/css2?family=Zeyada&display=swap");

.zeyada-regular {
  font-family: "Zeyada", cursive;
  font-weight: 400;
  font-style: normal;
}

/* Hide the scrollbar for all browsers */
::-webkit-scrollbar {
  display: none; /* Hide scrollbar for webkit-based browsers */
}

/* Hide the scrollbar for Firefox */
* {
  scrollbar-width: none; /* Hide scrollbar for Firefox */
  padding: 0;
  margin: 0;
}

/* Navbar Styles */
.navbar span {
  background-color: transparent;
  padding: 0.5rem;
}

.navbar span a:hover {
  text-decoration: none;
}

.overlay {
  opacity: 0;
  transition: opacity 0.5s;
}

.overlay:hover {
  opacity: 1;
}

.holder {
  position: relative;
}

.holder:hover span {
  height: 350px;
  width: 350px;
  border: none;
}

.holder span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  height: 320px;
  width: 320px;
  transition: all 1.5s ease;
  display: none;
}

.holder span:nth-child(1) {
  border-radius: 38% 62% 63% 37% / 70% 33% 67% 30%;
  border: 2px solid rgba(25, 169, 25, 0.568);
  animation: animate 5s linear infinite;
}

.holder span:nth-child(2) {
  border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
  border: 2px solid rgba(7, 211, 7, 0.702);
  animation: animate 7s linear infinite;
}

.holder span:nth-child(3) {
  border-radius: 38% 62% 63% 37% / 70% 33% 67% 30%;
  border: 2px solid rgba(5, 118, 5, 0.424);
  animation: animate 4s linear infinite;
}

.hero {
  background: url("public/character/shade.jpeg");
  background-size: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  border-radius: 38% 62% 63% 37% / 70% 33% 67% 30%;
  animation: borimate 5s linear infinite;
}

@keyframes animate {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes borimate {
  0% {
    border-radius: 38% 62% 63% 37% / 70% 33% 67% 30%;
  }
  25% {
    border-radius: 44% 56% 58% 42% / 16% 40% 60% 84%;
  }
  50% {
    border-radius: 69% 31% 31% 69% / 56% 25% 75% 44%;
  }
  75% {
    border-radius: 59% 41% 24% 76% / 43% 56% 44% 57%;
  }
  100% {
    border-radius: 38% 62% 63% 37% / 70% 33% 67% 30%;
  }
}
