/* Custom CSS */

/* Fonts */

@import url("https://fonts.googleapis.com/css2?family=Zeyada&display=swap");

.zeyada-regular {
  font-family: "Zeyada", cursive;
  font-weight: 400;
  font-style: normal;
}

/* Hide the scrollbar for all browsers */
::-webkit-scrollbar {
  display: none; /* Hide scrollbar for webkit-based browsers */
}

/* Hide the scrollbar for Firefox */
* {
  scrollbar-width: none; /* Hide scrollbar for Firefox */
}

/* Navbar Styles */
/* Remove the default triangle */

details > summary {
  list-style: none;
  cursor: pointer;
  margin-bottom: 20px;
}
details > summary::-webkit-details-marker {
  display: none;
}

/* Create a new custom triangle on the right side */
summary::after {
  margin-left: 0.5rem;
  display: inline-block;
  content: "▶";
  transition: 0.2s;
}

details[open] > summary::after {
  transform: rotate(90deg);
}

ul {
  list-style: none;
  background-color: rgb(39, 39, 42);
  color: #fff;
  border-radius: 10%;
  overflow-x: hidden;
  overflow-y: auto;

  max-height: 300px;
}

ul > li {
  cursor: pointer;
  padding: 0.5rem;
  border-bottom: 2px solid #ccc;
}

.tooltip:hover {
  cursor: pointer;
  background-color: lightgreen;
  height: 3.5rem;
  width: 3.5rem;
  box-shadow: 3px 3px 5px white;
}

.hover-wrapper {
  z-index: 50;
}

/********** Range Input Styles **********/
/*Range Reset*/
input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  width: 20rem;
}

/* Removes default focus */
input[type="range"]:focus {
  outline: none;
}

/***** Chrome, Safari, Opera and Edge Chromium styles *****/
/* slider track */
input[type="range"]::-webkit-slider-runnable-track {
  background-color: #053a5f;
  border-radius: 0.5rem;
  height: 0.5rem;
}

/* slider thumb */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  margin-top: -4px; /* Centers thumb on the track */

  /*custom styles*/
  background-color: #5c7beb;
  height: 1rem;
  width: 1rem;
  border-radius: 100%;
}

input[type="range"]:focus::-webkit-slider-thumb {
  border: 2px solid #f4fc03;
  outline: 5px solid #ffffff;
  outline-offset: 0.25rem;
}

/******** Firefox styles ********/
/* slider track */
input[type="range"]::-moz-range-track {
  background-color: #053a5f;
  border-radius: 0.5rem;
  height: 0.5rem;
}

/* slider thumb */
input[type="range"]::-moz-range-thumb {
  border: none; /*Removes extra border that FF applies*/
  border-radius: 100%; /*Removes default border-radius that FF applies*/

  /*custom styles*/
  background-color: #5cd5eb;
  height: 2rem;
  width: 2rem;
}

input[type="range"]:focus::-moz-range-thumb {
  border: 1px solid #053a5f;
  outline: 3px solid #053a5f;
  outline-offset: 0.125rem;
}

input[type="checkbox"] {
  transform: scale(2);
}

input:checked + label {
  color: rgb(46, 181, 249);
  font-weight: bold;
}

/* Stopwatch timelog Section */
.time-section p:nth-child(3) {
  color: #f4fc03;
}

.time-section p:nth-child(2) {
  color: #03e7fc;
}

.time-section p:nth-child(1) {
  color: #03fc7b;
}

.time-bg-video {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
